body{
    font-family: "Circular Std";
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
a:hover{
    text-decoration: none;
	color: #FFFFFF;
}
a:visited {
    text-decoration: none;
	color: #FFFFFF;
}
.navbar__container{
    margin-left: 10%; 
    padding-top:25px;
    align-content: center;
    height: 40px;
}

.navbar__border::after {
    display: block;
    content: '';
    clear: both;
    padding: 15px 20px;
    border-bottom: 2px solid #00A078;
}
.navbar--menuburguer{
    float: left;
    font-size: 40px;
    color: #00A078;
    line-height: 40px;
    text-align: center;
}
.menu__logo{
    display: inline-block;
	height: 40px;
	width: 80px;
    margin-left: 3.47%;
    line-height: 40px;
}

.menu__logo--white{
    display: inline-block;
    height: 40px;
    width: 80px;
    margin-left: 3.47%;
    line-height: 40px;
}


.profile__container{
    height: 350px;
}

.servicos__container{
    height: 480px;
    position: relative;
}
.servicos__container--boletim-color{
	background-color: #66C299;
}
.servicos__container--marcacoes-color{
	background-color: #F9D46A;
}
.servicos__container--myPetStore-color{
	background-color: #E796C0;
}
.servicos__icon {
	height: 230px;
	width: 200px;
    position: absolute;
    z-index: 1;
    right: 120px;
    top: 160px;
}
.servicos__text{
    position: absolute;
    z-index: 2;
	height: 65px;
	width: 415px;
	color: #FFFFFF;
	font-size: 51px;
	font-weight: bold;
	line-height: 65px;
    text-align: center;
    margin: 0 auto;
    top: 240px;
}
.servicos {
	color: #FFFFFF;
	font-size: 51px;
	font-weight: bold;
	line-height: 65px;
	text-align: center;
}

.profile__container-information{

    height: 216px;
    margin: 60px 123px;
}
.user__photo {
    background: #FFFFFF;
	height: 215px;
	width: 215px;
    border: 3px solid #00A078;
    float: left;
    background-image: url("/common/img/userPhoto.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:     cover;  
}
.profile_setup{
    float:left;
    margin: 10px 0px 0px 27px;
}
.profile__userName {
    height: 92px;
	width: 305px;
	color: #00A078;
	font-size: 39px;
	font-weight: 200;
    line-height: 46px;
}

.profile__rectangle-text {
    height: 50px;
	width: 150px;
	border-radius: 5px;
    background-color: #00A078;
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 18px;
	font-weight: 900;
	line-height: 50px;
    text-align: center;
}

.pet__container-information{
    float: right;
    margin: 45px 0 0 81px;
}
.pet__round-item{
    display: inline-block;
	height: 90px;
	width: 90px;
    border: 3px solid #9475B4;
    margin-left: 32px;
    position: relative;
}
.pet__round-item--dog{
    height: 90px;
	width: 90px;
    background-image: url("/common/img/dog.png");
    background-repeat: no-repeat;
    background-position: center center; 
    background-size:     cover;  
}
.pet__round-item--cat{
    height: 90px;
	width: 90px;
    background-image: url("/common/img/gato.png");
    background-repeat: no-repeat;
    background-position: center center; 
    background-size:     cover;  
}
.pet__round-item > a{
    color: #00A078;
    position: absolute;
    right: 30px;
    top: 30px;
}
.pet_plus{
    font-size: 30px;
}
.pet__round-item:last-child{
	border: 3px solid #00A078;
}

	