body{
	font-family: "Circular Std";
}
.header {
	height: 80px;
	padding-left: 8.5%;
	padding-right: 8.5%;
	border-bottom: solid;
	border-width: 3px;
	border-color: #00A078;
}

.header::after {
	display: block;
	content: '';
	clear: both;
}

	.header__burger-menu {
		height: 35px;
		width: 35px;
		font-size: 35px;
		line-height: 35px;
		color: #00A078;
		text-align: center;
		margin-top: 22.5px;
		margin-bottom: 22.5px;
		float: left;
	}

	.header__logo {
		margin-left: 3.5%;
		margin-top: 20.5px;
		margin-bottom: 20.5px;
		width: 73px;
		height: 39px;
		line-height: 39px;
		font-size: 39px;
		float: left;
	}

	.header__right {
		float: right;
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;
		height: 50px;
	}

	.header__user-picture {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: solid;
		border-width: 3px;
		border-color: #00A078;
		box-sizing: border-box;
		display: inline-block;

		background-image: url("/common/img/userPhoto.png");
   	 	background-repeat: no-repeat;
    	background-position: center center;
    	background-size:     cover;   
	}

	.header__divisor {
		width: 5px;
		height: 50px;
		background-color: #00A078;
		display: inline-block;
		margin-left: 30px;
	}

	.header__pet-picture {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: solid;
		border-width: 3px;
		border-color: #00A078;
		box-sizing: border-box;
		display: inline-block;
		margin-left: 30px;

		background-image: url("/common/img/dog.png");
   	 	background-repeat: no-repeat;
    	background-position: center center;
    	background-size:     cover;   
	}

	.header__pet-selector {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: solid;
		border-width: 3px;
		border-color: #00A078;
		box-sizing: border-box;
		display: inline-block;
		margin-left: 30px;
		font-size: 20px;
		line-height: 50px;
		text-align: center;
	}

.pet-profile {
	padding-top: 50px;
}
	.pet-profile__bio {
		margin: 0 8.5% 0 8.5%;
		height: 300px;
		
	}
	.bio__pet-picture {
		float: left;
		width: 211px;
		height: 211px;
		border-radius: 50%;
		border: solid;
		border-width: 5px;
		border-color: #9475B4;
		box-sizing: border-box;

		background-image: url("/common/img/dog.png");
   	 	background-repeat: no-repeat;
    	background-position: center center;
    	background-size:     cover; 

	}



		.bio__container-typegender {
			text-align: left;
			font-size: 0;
		}


			.container-typegender__type {
				display: inline-block;
				width: 44px;
				height: 38px;

				background-color: lightgray;
			}

			.container-typegender__gender {
				margin-left: 50px;
				display: inline-block;
				width: 38px;
				height: 38px;
				border-radius: 50%;

				background-color: lightgray;
			}

		.bio__container-namechip {
			margin-top: 22px;
			font-family: "Circular Std";
			font-weight: bold;
		}

			.container-namechip__name {
				color: #9475B4;
				font-size: 39px;
			}

			.container-namechip__chip {
				margin-top: 36.5px;
				color: #9475B4;
				font-size: 18px;
			}

		.bio__pet-details {
			float: left;
			text-align: left;
		}

			.details__details-container {
				font-family: "Circular Std";

				background-color: red;
			}

				.details-container__pet-detail {
					float: left;

					background-color: blue;
				}

					.pet-detail__title {
						color: #C8BDDD;
						font-size: 14px;
						font-weight: bold;
					}

					.pet-detail__info {
						color: #4A4A4A;
						font-size: 18px;
						font-weight: 300;
					}

	.pet-profile__graphs {
		padding: 4% 3.5%;
		background-color: #F5F2F8;
	}


		.graphs__graph-container {
			float: left;
			margin-left: 5%;
			margin-right: 5%;
			text-align: center;
			width: 40%;
		}

		.pet-profile__graphs::after {
			display: block;
			content: '';
			clear: both;
		}

			.graph-container__title {
				text-align: left;
				color: #9475B4;
				font-family: "Circular Std";
				font-size: 39px;
				font-weight: bold;
			}

			.graph-container__graph {
				width: 513px;
				margin-top: 47px;
				border-left: solid;
				border-bottom: solid;
				border-width: 1px; 
				border-color: #C7BCDC;
				height: 388.91px;
				box-sizing: border-box;

				background-image: url("/common/img/graphAltura.png");
   	 			background-repeat: no-repeat;
    			background-position: center center;
    			background-size:     cover; 

			}


	.pet-profile__treatments {
		margin-left: 3.5%;
		margin-right: 3.5%;
		margin-top: 53px;
	}

	.pet-profile__treatments::after {
		display: block;
		content: '';
		clear: both;
	}

	.pet-profile__treatment {
		float: left;
		margin-left: 5%;
		margin-right: 5%;
		width: 40%;
	}
		.treatment__item-container {
			margin-top: 50px;
		}

		.item-container__btm-row {
			margin-top: 23.4px;
		}


		.treatment__title {
			text-align: left;
			color: #9475B4;
			font-family: "Circular Std";
			font-size: 39px;
			font-weight: bold;
		}



			.item-container__item {
				display: inline-block;
				text-align: center;
				line-height: 73.5px;
				width: 73.5px;
				height: 73.5px;
				border-radius: 50%;
				margin-right: 23px;
				border: solid;
				border-width: 5px;
				border-color: #9475B4;
				box-sizing: border-box;
			}

			.item-container__item--placeholder {
				position: relative;
				display: inline-block;
				text-align: center;
				line-height: 73.5px;
				width: 73.5px;
				height: 73.5px;
				border-radius: 50%;
				margin-right: 23px;
				border: solid;
				border-width: 5px;
				border-color: #DDDDDD;
				box-sizing: border-box;
			}

			.item-container__dropdown {
				display: inline-block;
				text-align: center;
				line-height: 73.5px;
				width: 73.5px;
				height: 73.5px;
				border-radius: 50%;
				margin-right: 23px;
				border: solid;
				border-width: 5px;
				border-color: #9475B4;
				box-sizing: border-box;
			}

	.pet-profile__service-history {
		padding-left: 8.5%;
		width: 100%;
		margin-top: 103px;

		background-color: #F5F2F8;
	}

	.pet-profile__service-history::after {
		display: block;
		content: '';
		clear: both;
	}

	.service-history__title {
		color: #9475B4;
		font-family: "Circular Std";
		font-size: 39px;
		font-weight: bold;
		height: 46px;

}
	}

		.service-history__service-container {
			display: flex;
			flex-flow:
		}
			.service-container__service-item {
				display: inline-block;
				height: 215px;
				width: 215px;
				background-color: #9475B4;
				margin-right: 30px;
				margin-top: 50px;
			}

			.service-container__service-item:nth-child(-n+3) {
				background-color: #DDDDDD;
			}
					.service-item__title {
						height: 20px;
						color: #C8BDDD;
						font-size: 14px;
						font-weight: bold;
						line-height: 20px;
						margin: 20px 0 0 20px;
					}
					.service-item__text {
						height: 26px;
						color: #FFFFFF;
						font-size: 18px;
						font-weight: 300;
						line-height: 26px;
						margin-left: 20px;
					}
					.service-item__title--color {
						color: #9B9B9B;
					}
					
					.service-item__icon{
							margin: 15px 0 0 140px;
					}
		.service-history__show-more {
			text-align: center;
			margin: 50px 0;		
		}

		.show-more__btn {
			display: inline-block;
			border-radius: 5px;
			height: 50px;
			width: 150px;
			color: #FFFFFF;
			font-size: 18px;
			font-weight: 900;
			line-height: 50px;
			text-align: center;
			background-color: #9475B4;
		}











