.header {
	height: 80px;
	padding-left: 8.5%;
	padding-right: 8.5%;
	border-bottom: solid;
	border-width: 3px;
	border-color: #00A078;
}

.header::after {
	display: block;
	content: '';
	clear: both;
}

	.header__burger-menu {
		height: 35px;
		width: 35px;
		font-size: 35px;
		line-height: 35px;
		color: #00A078;
		text-align: center;
		margin-top: 22.5px;
		margin-bottom: 22.5px;
		float: left;
	}

	.header__logo {
		margin-left: 3.5%;
		margin-top: 20.5px;
		margin-bottom: 20.5px;
		width: 73px;
		height: 39px;
		line-height: 39px;
		font-size: 39px;
		float: left;


		background-color: lightgray;
	}

	.header__right {
		float: right;
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;
		height: 50px;
	}

	.header__user-picture {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: solid;
		border-width: 3px;
		border-color: #00A078;
		box-sizing: border-box;
		display: inline-block;

		background-color: lightgray;
	}

	.header__divisor {
		width: 5px;
		height: 50px;
		background-color: #00A078;
		display: inline-block;
		margin-left: 30px;
	}

	.header__pet-picture {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: solid;
		border-width: 3px;
		border-color: #00A078;
		box-sizing: border-box;
		display: inline-block;
		margin-left: 30px;

		background-color: lightgray;
	}

	.header__pet-selector {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border: solid;
		border-width: 3px;
		border-color: #00A078;
		box-sizing: border-box;
		display: inline-block;
		margin-left: 30px;
		font-size: 20px;
		line-height: 50px;
		text-align: center;
	}

.pet-profile {
	padding-left: 8.5%;
	padding-right: 8.5%;
	padding-top: 50px;
}

.pet-profile::after {
	display: block;
	content: '';
	clear: both;
}

	.bio__pet-picture {
		float: left;
		width: 211px;
		height: 211px;
		border-radius: 50%;
		border: solid;
		border-width: 5px;
		border-color: #9475B4;
		box-sizing: border-box;

		background-color: lightgray;

	}

	.pet-profile__bio {
		height: 222px;
		font-family: "Circular Std";
	}

		.bio__container-typegender {
			text-align: left;
			font-size: 0;
		}


			.container-typegender__type {
				display: inline-block;
				width: 44px;
				height: 38px;

				background-color: lightgray;
			}

			.container-typegender__gender {
				margin-left: 50px;
				display: inline-block;
				width: 38px;
				height: 38px;
				border-radius: 50%;

				background-color: lightgray;
			}

		.bio__container-namechip {
			margin-top: 22px;
			font-family: "Circular Std";
			font-weight: bold;
		}

			.container-namechip__name {
				color: #9475B4;
				font-size: 39px;
			}

			.container-namechip__chip {
				margin-top: 36.5px;
				color: #9475B4;
				font-size: 18px;
			}

		.bio__pet-details {
			float: left;
			text-align: left;
		}

			.details__details-container {
				font-family: "Circular Std";

				background-color: red;
			}

				.details-container__pet-detail {
					float: left;

					background-color: blue;
				}

					.pet-detail__title {
						color: #C8BDDD;
						font-size: 14px;
						font-weight: bold;
					}

					.pet-detail__info {
						color: #4A4A4A;
						font-size: 18px;
						font-weight: 300;
					}

	.pet-profile__graphs {
		background-color: lightblue;
	}


		.graphs__graph-container {
			text-align: center;
			width: 40%;
			background-color: black;
		}

			.graph-container__title {
				text-align: left;
				background-color: blue;
			}

			.graph-container__graph {
				background-color: red;
			}
	.pet-profile__treatment {
	}
		.treatment__title {
		}

		.treatment__item-container {
		}
			.item-container__item {
			}

			.item-container__dropdown {
			}
	.pet-profile__service-history {
	}
		.service-history__service-container {
		}
			.service-container__service-item {
			}

			.service-container__service-item--placeholder {
			}

		.service-history__show-more {
		}












