/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Page CSS */

.profile {
	padding: 25px;
}


.profile__close {
	width: 5%;
	height: 300px;
	font-size: 20px;
	text-align: center;
	background-color: gray;
	float: left;
}

.profile__user {
	width: 30%;
	height: 300px;
	text-align: center;
	background-color: lightgray;
	float: left;
}

	.user__picture {
		margin-top: 25px;
		width: 100px;
		height: 100px;
		display: inline-block;
		border-radius: 50px;
		border: solid;
		border-color: black;
		background-color: gray;
	}

	.user__username {
		margin-top: 25px;
		text-transform: uppercase;
		text-align: center;
		display: inline-block;	
	}

	.user__button {
		margin-top: 25px;
		text-transform: uppercase;
		text-align: center;
		display: inline-block;
	}

.profile__navigation {
	width: 60%;
	height: 300px;
	float: left;
	background-color: gray;
}

	.navigation__list {
		background-color: red;
		width: 60%;
		float: left;
	}

	.navigation__sublist {
		background-color: lightblue;
		float: left;
		width: 40%;
	}

		.list__item {
			line-height: 70px;
		}

		.sublist__item {
			line-height: 30px; 
		}

.profile::after {
	display: block;
	content: '';
	clear: both;
}





