.navbar__container {
    margin-left: 10%; 
    padding-top:25px;
    align-content: center;
    height: 40px;
}

.navbar__border::after {
    display: block;
    content: '';
    clear: both;
}

.navbar--menuburguer {
    float: left;
    font-size: 40px;
    color: #00A078;
    line-height: 40px;
    text-align: center;
}
.menu__logo {
    float: left;
	height: 40px;
    margin-left: 3.47%;
    line-height: 40px;
}


.header_topo {
	/*min-height: 449px;*/
	margin-top: 3em;
}

.header_topo .container {
	background-color: #66C299;
}

.title_header_topo {	
	width: 100%;	
	color: #323132;	
	font-family: Rubik;	
	font-size: 66px;	
	font-weight: bold;	
	line-height: 70px;
}

.products, .services {
	height: 68px;	
	width: 225px;
	border-radius: 5px;	
	background-color: #322F31;
	float: right;
    margin: 3em 0 2em;
    border:0;
	
    color: #FFFFFF;	
    font-family: "Work Sans";	
    font-size: 18px;
    font-weight: 900;	
    line-height: 26px;	
    text-align: center;
}
.products:hover, .services:hover { 
	background-color: grey; 
}

.products { 
	margin-right: 1em; 
}



.perfil-cao {
	margin-top: 4em;
}

.perfil-cao .container {
	background-color: #F8C6D2;
}

.perfil-cao h1 {
    width: 100%;
    color: #323132;
    font-family: Rubik;
    font-size: 66px;
    font-weight: bold;
    line-height: 70px;
}
.perfil-cao-imagem {
	padding-right: 0;
	padding-left: 0;
}

.perfil-cao .vermais {
    height: 68px;
    width: 225px;
    border-radius: 5px;
    background-color: #322F31;
    margin: 3em 0 2em;
    border:0;

    color: #FFFFFF;	
    font-family: "Work Sans";	
    font-size: 18px;
    font-weight: 900;	
    line-height: 26px;	
    text-align: center;
}

.perfil-cao .vermais:hover { 
	background-color: grey; 
}

.comportamento-cao {
	margin-top: 4em;
}

.comportamento-cao .container {
	background-color: #009F78;
}
.comportamento-cao h1 {
	color: #323132;	
	font-family: Rubik;	
	font-size: 66px;	
	font-weight: bold;	
	line-height: 70px;
}
.comportamento-cao img {
	margin: 0 auto;
}

.vermais_c {
	height: 68px;	
	width: 225px;
	border-radius: 5px;	
	background-color: #322F31;
	float: right;
	border:0;

	color: #FFFFFF;	
    font-family: "Work Sans";	
    font-size: 18px;
    font-weight: 900;	
    line-height: 26px;	
    text-align: center;
}

.comportamento-cao .vermais_c:hover { 
	background-color: grey; 
}


.adocao-cao {
	margin-top: 4em;
}

.adocao-cao .container {
	background-color: #8FD0BF;	
}

.adocao-cao h1 {
	color: #323132;	
	font-family: Rubik;	
	font-size: 66px;	
	font-weight: bold;	
	line-height: 70px;
}

.adocao-cao img {
	padding: 0;
}




.zumima {
	margin: 4em 0 4em 0;
}

.zumima .container {
	background-color: #F8C6D2;
}

.zumima .hastag {
	color: #000000;	
	font-family: Rubik;	
	font-size: 66px;	
	font-weight: bold;	
	line-height: 70px;
}

.zumima h1 {
	color: #000000;	
	font-family: "Work Sans";	
	font-size: 39px;	
	font-weight: bold;	
	line-height: 46px;
}

.zumima-cao-imagem {
	padding-right: 0;
	padding-left: 0;
}

.zumima .vermais {
    height: 68px;
    width: 225px;
    border-radius: 5px;
    background-color: #322F31;
    margin: 3em 0 2em;
    border: 0;

    color: #FFFFFF;	
    font-family: "Work Sans";	
    font-size: 18px;
    font-weight: 900;	
    line-height: 26px;	
    text-align: center;
}

.zumima .vermais:hover { 
	background-color: grey; 
}

	
.footer .container {
	width: 100%;
	background-color: #009F78;
}

ul{
     list-style:none;
}

.menu__itens-links {
	float: left;
}

.menu__itens-social {
	float: right;
}

.menu__itens a {		
	color: #322F31;	
	font-family: "Work Sans";	
	font-size: 39px;	
	font-weight: bold;	
	line-height: 46px;
	text-decoration: none;
}

.menu__itens a:hover {
	color: grey; 
}

.copyright {
	margin-top: 50px;
}






/* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
.vermais_c {
	float: none;
}
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
.vermais_c {
	float: none;
}
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
.vermais_c {
	float: none;
}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
.title_header_topo {
    width: 100%;
    color: #323132;
    font-family: Rubik;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
}
.left_side_perfil {
    float: none;
    width: 100%;
    height: 100%;
    padding: 2%;
}
.title_perfil {
    width: 100%;
    color: #323132;
    font-family: Rubik;
    font-size: 32px;
    font-weight: bold;
    line-height: 35px;
}
.vermais_c {
	float: none;
}
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
.title_header_topo {
    width: 100%;
    color: #323132;
    font-family: Rubik;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
}
.left_side_perfil {
    float: none;
    width: 100%;
    height: 100%;
    padding: 2%;
}

.title_perfil {
    width: 100%;
    color: #323132;
    font-family: Rubik;
    font-size: 32px;
    font-weight: bold;
    line-height: 35px;
}
.vermais_c {
	float: none;
}
    }